__pycache__/
*.pyc
logs/
cache/
active/
profiles/
dist/
build/
.cursor/
vault.azimut
settings.json
github.token
*.log
*.zip
*.conf
Azimut.lnk
Azimut.exe
_internal/
zapret/versions.json
zapret/goodbyedpi/
